.heading{
    font-size: 23px;
    width: 100%;
    margin:0px;
    box-shadow: 5px 5px 5px gray;   
}
.header_div{
    font-size: 23px;
    float:none;
    background:white;
    padding:10px;
    border-radius:20px;
    color:black;
    box-shadow: 5px 5px 5px white;
}
.header_div2{
    font-size: 18px;
}
.copy_right_footer{
    box-shadow: 5px 5px 5px white;
    font-size: 20px;
    position:fixed;
    bottom:0;
    width:100%;
    background-color: lightskyblue;
    color:red;
    line-height: 3;
}
.result_para_tag{
    font-size: 20px;
    box-shadow: 5px 5px 5px coral;
}
